/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	min-width: 320px;
	padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
.copy {
	color: #ccc;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


/*
 * Main content
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
h1 {
	font-size: 24px;
}
a.delete span {
	color: #000;
}
a.delete:hover span {
	color: red;
}
a.edit span {
	color: #000;
	opacity: 0;
	transition: all 0.25s;
}
a.edit:hover span {
	opacity: 1;	
}
a.edit:hover {
	text-decoration: none;
}
.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
	h1 {
		font-size: 36px;
		text-align: center;
	}
}
.main .page-header {
	margin-top: 0;
}
.table-responsive {
	margin-top: 20px;
}

/*
 * Forms
 */
.filterform {
	margin-bottom: 20px;
	max-width: 640px;
}
textarea {
	resize: vertical;
}
.searchclear {
	display: none;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	height: 24px;
	margin: auto;
	font-size: 24px;
	cursor: pointer;
	color: #ccc;
	z-index: 5;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
}

img.rounded,
.placeholder img {
	border-radius: 50%;
}

/* tables */
table.table-sort thead tr .header {
	background-image: url(../Images/bg.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
	padding-left: 20px;
}
table.table-sort thead tr .headerSortUp {
	background-image: url(../Images/asc.gif);
}
table.table-sort thead tr .headerSortDown {
	background-image: url(../Images/desc.gif);
}